<section class="bg-primary" style="background-color: #00162b" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WELCOME</h2>
                <hr class="primary">
<!--                <p class="text-faded">-->
                    <p>Welcome to the <strong>1<sup>st</sup> 1st Workshop on UAV Supported Road Traffic Safety and ADS Deployment (UAV-W)</strong> being held in conjunction with <a href="https://ieee-iv.org/2024/" style="color: #f0ed40">IEEE IV 2024</a>!</p>
                    <!--                <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->

                    <h3 class="section-heading">Scope and Topics</h3>
                    <p class="bg-gray" align="justify">The rapid emergence of recent technologies and their intersection with transportation research has opened new avenues for study. Unmanned Aerial Vehicles (UAVs) technologies present a unique opportunity for transportation research to study road safety and Automated Driving Systems (ADS). This workshop aims to delve into the details of modeling traffic participants' behavior, the effectiveness of UAVs in managing changing dynamics and increasing traffic demands, and current global research and development in this field. Understanding the importance of this topic to Intelligent Transportation Systems (ITS) is crucial, as it offers fresh, independent perspectives on existing environments, detailed insights, and the potential to set new benchmarks in road safety with emerging datasets.</p>
                    <p class="bg-gray" align="justify">Over the last few years, interest in aerial imagery and associated research in ITS has significantly grown. Academic research accompanied by development in industry has opened up opportunity for advanced research. As a result, we have seen the emergence of multiple new datasets that are captured through UAVs. These datasets capture key behaviors of multimodal traffic [1], infrastructure health, and traffic incident management. UAVs enable novel directions to existing research in ITS community, including VRU safety, trajectory tracking, traffic modeling, safety modeling, smart infrastructure, perception, sensor fusion, and V2X. It covers a large spectrum of research from fundamental methods to key applications. UAVs have shown tremendous promises, however, yet to demonstrate true disruption. We expect that the proposed workshop will help pioneer the field of UAV research in ITS. </p>

            </div>
        </div>
    </div>
</section>
