<section class="bg-primary" style="background-color: #00162b" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WELCOME</h2>
                <hr class="primary">
<!--                <p class="text-faded">-->
                    <p>Welcome to the <strong>1<sup>st</sup> Workshop on UAV Supported Road Traffic Safety and ADS Deployment (UAV-W)</strong> being held in conjunction with <a href="https://ieee-iv.org/2024/" style="color: #f0ed40">IEEE IV 2024</a>!</p>
                    <!--                <a href="#" class="btn btn-default btn-xl">Get Started!</a>-->

                    <h3 class="section-heading">Scope and Topics</h3>
                    <p class="bg-gray" align="justify">The rapid emergence of recent technologies and their intersection with transportation research has opened new avenues for study. Unmanned Aerial Vehicles (UAVs) technologies present a unique opportunity for transportation research to study road safety and Automated Driving Systems (ADS). This workshop aims to delve into the details of modeling traffic participants' behavior, the effectiveness of UAVs in managing changing dynamics and increasing traffic demands, and current global research and development in this field. Understanding the importance of this topic to Intelligent Transportation Systems (ITS) is crucial, as it offers fresh, independent perspectives on existing environments, detailed insights, and the potential to set new benchmarks in road safety with emerging datasets.</p>
                    <p class="bg-gray" align="justify">Over the last few years, interest in aerial imagery and associated research in ITS has significantly grown. Academic research accompanied by development in industry has opened up opportunity for advanced research. As a result, we have seen the emergence of multiple new datasets that are captured through UAVs. These datasets capture key behaviors of multimodal traffic, infrastructure health, and traffic incident management. UAVs enable novel directions to existing research in ITS community, including VRU safety, trajectory tracking, traffic modeling, safety modeling, smart infrastructure, perception, sensor fusion, and V2X. It covers a large spectrum of research from fundamental methods to key applications. UAVs have shown tremendous promises, however, yet to demonstrate true disruption. We expect that the proposed workshop will help pioneer the field of UAV research in ITS. </p>
                    <!-- <h3 class="section-heading">Objectives</h3>
                    <p class="bg-gray" align="justify">The rapid emergence of recent technologies and their intersection with transportation research has opened new avenues for study. Unmanned Aerial Vehicles (UAVs) technologies present a unique opportunity for transportation research to study road safety and Automated Driving Systems (ADS). This workshop aims to delve into the details of modeling traffic participants' behavior, the effectiveness of UAVs in managing changing dynamics and increasing traffic demands, and current global research and development in this field. Understanding the importance of this topic to Intelligent Transportation Systems (ITS) is crucial, as it offers fresh, independent perspectives on existing environments, detailed insights, and the potential to set new benchmarks in road safety with emerging datasets.</p> -->

                    <p class="bg-gray" align="justify">The overall objective of this workshop is to encourage researcher who are working on diverse topics applying UAVs for transportation systems. Some broad area of interest may be as listed below:</p>
                    <ul class="bg-gray" align="left">
                      <li>To demonstrate the utility of drone imagery and associated datasets to study traffic safety.</li>
                      <li>To investigate the dynamics of Vulnerable Road Users (VRUs) and their interactions with other vehicles.</li>
                      <li>Discuss merits and limitation of aerial imagery based traffic safety analysis.</li>
                      <li>To facilitate discussions on creating large-scale drone data collections, targeted for multiple applications in ITS.</li>
                      <li>To examine the role and utilities of UAVs in accident scene analysis and emergency response.</li>
                      <li>To examine the role and utilities of UAVs in roadway infrastructure analysis.</li>
                      <li>To provide insights into current drone technology and industry standards.</li>
                      <li>Discuss regulations governing drone-based deployments and research. This can include regulations from industry, and government agencies.</li>
                      <li>To explore the use of drone datasets for studying ADS behavior and their interactions with traffic participants.</li>
                      <li>To analyze human driver behavior at intersections.</li>
                      <li>To explore the roles and utilities of UAVs in smart cities.</li>
                    </ul>




            </div>
        </div>
    </div>
</section>
