<section class="bg-gray" id="cfp">
    <div class="container text-center">
        <div class="row">
          <div class="call-to-action">
              <h2>CALL FOR PAPERS</h2>
              <hr class="primary">
          </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12 text-center">
                <p class="bg-gray" align="justify">Researchers in related areas from academia and industry are invited to submit full papers to be presented in the format of spotlight presentation and/or poster presentation. We aim for broad scope, topics of interest include but are not limited to:</p>
                <ul class="bg-gray" align="left">
                <li>Traffic safety analysis using UAVs ;</li>
                <li>New drone based dataset;</li>
                <li>Modeling traffic from aerial image/video/data;</li>
                <li>Edge technology for Drones to benefit on device processing;</li>
                <li>Scene analysis from aerial images using computer vision and advance algorithms;</li>
                <li>Intersection safety using aerial images;</li>
                <li>Smart city management;</li>
                <li>Driving behavior analysis in complex infrastructure ;</li>
                <li>Graph based application to aerial scene analysis ;</li>
                <li>Perception and sensor fusion ;</li>
                <li>ADS applications and integration with UAV;</li>
                <li>Traffic incident management through traffic cameras and drones</li>
                <li>Infrastructure health assessments including bridge and pavement;</li>
                <li>Novel applications .</li>
                </ul>
                <br>
                <p class="bg-gray" align="justify"><b>Submission Link: <a target="_blank" href="https://its.papercept.net/conferences/scripts/start.pl">https://its.papercept.net/conferences/scripts/start.pl</a></b></p>
                <p class="bg-gray" align="justify"><b>Use Code: UAVsupportedRoadTraffic</p>
                <p class="bg-gray" align="justify">Authors are required to submit full papers by the paper submission deadline. These are hard deadlines due to the tight timeline; no extensions will be given. </p>
                <p class="bg-gray" align="justify">Authors are invited to submit full-length papers up to 6 pages in the final submission, but the first submission can be up to 10 pages for technical content including figures and references. Additional pages will be charged at the rate of $100 per page and is limited to two pages per paper. Each accepted paper must be covered by at least one non-student registration. Additional papers by the same authors will be charged at the flat rate of $400 per paper. For more information on the submission instructions, templates, and policies , please consult <a target="_blank" href="https://ieee-iv.org/2024/call-for-papers/">IEEE IV 2024 - Author Guidelines</a> webpage.</p>
                <p class="bg-gray" align="justify"><b>Accepted papers will be included in the IEEE IV proceedings, on IEEE Xplore, .</b> Authors will be required to transfer, to the IEEE, copyrights for any papers published in the conference proceedings. At least one author is expected to attend the workshop and present the paper.</p>

            </div>
        </div>
    </div>
<!--    <br><br>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <h2 class="section-heading">IMPORTANT DATES</h2>-->
<!--                <hr class="primary">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row no-gutter">-->
<!--            <table style="width: 100%;">-->
<!--            	<tbody>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<th class="th-1-Width">Event</th>-->
<!--            			<th>Date</th>-->
<!--            		</tr>-->
<!--            		<tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td><b>Paper Submission Deadline</b></td>-->
<!--            			<td><b>March 20, 2023, 11:59:59 Pacific Time</b></td>-->
<!--            		</tr>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td>Final Decisions to Authors</td>-->
<!--            			<td>TBD</td>-->
<!--            		</tr>-->
<!--                    <tr style="border-bottom: 1px solid black; height: 30px">-->
<!--            			<td>Camera Ready Deadline</td>-->
<!--            			<td>TBD</td>-->
<!--            		</tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</section>