<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>We followed the template from <a target="_blank" href="https://multimodal-content-moderation.github.io//">MMCM @ CVPR 2023</a></p>
            </div>
<!--        <div class="col-lg-2 col-lg-offset-2 text-center">-->
<!--            <a href="https://twitter.com/{{ site.twitter_username }}">-->
<!--                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>-->
<!--                <p>{{ site.twitter_username }}</p>-->
<!--            </a>-->
<!--        </div>-->
            

        </div>
    </div>
</section>
