<header>
    <div class="header-content" style="color:white; background-color: rgba(0, 0, 0, 0.8);">
        <div class="header-content-inner" >
            <h1>1st Workshop on UAV Supported Road Traffic Safety and ADS Deployment (UAV-W)</h1>
            <hr>
            <h2>at 35th IEEE Intelligent Vehicle Symposium (IV)</h2>
            <h3>Date: June 02, 2024</h3>
            <h3>Venue: Jeju Shinhwa World, Jeju Island, Korea</h3>
<!--            <a href="#about" class="btn btn-primary btn-xl page-scroll">Welcome</a>-->
        </div>
    </div>
</header>
