<section class="bg-gray" id="organizers">
    <div class="container text-center">
        <div class="row">
            <div class="call-to-action">
                <h2>ORGANIZERS</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter">

            <div class="col-md-4 text-center" id="O1" style="margin-bottom: 30px">
                <a href="https://www.vtti.vt.edu/staffdir/bio.php?&pn=119388" target="_blank">
                    <img src="img/portfolio/Sarkar_Abhijit.jpeg" style="border-radius: 50%;" alt=""
                         height="128">
                    <h3>Abhijit Sarkar</h3>
                </a>
                Team Leader, Computer Vision & Machine Learning <br> Virginia Tech Transportation Institute, USA

            </div>

            <div class="col-md-4 text-center" id="O1" style="margin-bottom: 30px">
                <a href="https://www.aifb.kit.edu/web/Marc_Zofka" target="_blank">
                    <img src="img/portfolio/Zofka2.jpeg" style="border-radius: 50%;" alt=""
                         height="128">
                    <h3>Marc Zofka</h3>
                </a>
                Department Manager <br> FZI Research Center for Information Technology, Germany

            </div>

            <div class="col-md-4 text-center" id="O1" style="margin-bottom: 30px">
                <a href="https://www.aifb.kit.edu/web/Tobias_Fleck" target="_blank">
                    <img src="img/portfolio/Tobius.jpeg" style="border-radius: 50%;" alt=""
                         height="128">
                    <h3>Tobius Fleck</h3>
                </a>
                Project Manager <br> FZI Research Center for Information Technology, Germany

            </div>

            <div class="col-md-4 text-center" id="O2" style="margin-bottom: 30px">
                <a href="https://scholar.google.com/citations?user=648k23UAAAAJ&hl=zh-CN/" target="_blank">
                    <img src="img/portfolio/Hong-Wang-70.png" style="border-radius: 50%;" alt=""
                         height="128">
                    <h3>Hong Wang</h3></a>
                Research Associate Professor, School of Vehicle and Mobility <br>  Tsinghua University, China
            </div>

            <div class="col-md-4 text-center" id="O3" style="margin-bottom: 30px">
                <a href="https://www.linkedin.com/in/zhangyuxin/" target="_blank">
                    <img src="img/portfolio/Zhang-Yuxin-7.png" style="border-radius: 50%;" alt=""
                         height="128">
                    <h3>Yuxin Zhang</h3>
                </a>
                Associate Professor,  <br> Jilin University, China
            </div>

            <!-- <div class="col-md-4 text-center" id="O4" style="margin-bottom: 0px">
                <a href="https://maartensap.com/" target="_blank">
                    <img src="img/portfolio/maarten.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Maarten Sap</h3>
                </a>
                Assistant Professor <br> LTI, Carnegie Mellon University
            </div>

            <div class="col-md-4 text-center" id="O5" style="margin-bottom: 0px">
                <a href="https://www.linkedin.com/in/maria-zontak-0272135/" target="_blank">
                    <img src="img/portfolio/maria.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Maria Zontak</h3>
                </a>
                Sr. Applied Scientist <br> Alexa Sensitive Content Intelligence, Amazon
            </div>

            <div class="col-md-4 text-center" id="O6" style="margin-bottom: 0px">
                <a href="http://chris.bregler.com/" target="_blank">
                    <img src="img/portfolio/chris.jpeg" style="border-radius: 50%;" alt=""
                         width="128">
                    <h3>Chris Bregler</h3>
                </a>
                Director / Principal Scientist <br> Google AI
            </div> -->
        </div>

    </div>


</section>
